/Plugins/ColorClusterSegmentation/*.sdf
/Plugins/ColorClusterSegmentation/*.suo
/Plugins/ColorClusterSegmentation/CCS/Debug
/Plugins/ColorClusterSegmentation/CCS/*.user
/Plugins/ColorClusterSegmentation/Debug
/Plugins/ColorClusterSegmentation/CCS/Release
/Plugins/ColorClusterSegmentation/Release
/Plugins/ColorClusterSegmentation/prj/vs12/v_repExtImageSegmentation/Debug
/Plugins/ColorClusterSegmentation/prj/vs12/*.sdf
/Plugins/ColorClusterSegmentation/prj/vs12/*.suo
/Plugins/ColorClusterSegmentation/prj/vs12/v_repExtImageSegmentation/Release
/Plugins/ColorClusterSegmentation/prj/vs12/*.user
/Plugins/ColorClusterSegmentation/prj/vs12/Release
/Plugins/ColorClusterSegmentation/prj/vs12/*.opensdf
/Plugins/ROS/ROS_publisher/prj/vs12/*.sdf
/Plugins/ROS/ROS_publisher/prj/vs12/*.suo
