/Plugins/ColorClusterSegmentation/*.sdf
/Plugins/ColorClusterSegmentation/*.suo
/Plugins/ColorClusterSegmentation/CCS/Debug
/Plugins/ColorClusterSegmentation/CCS/*.user
/Plugins/ColorClusterSegmentation/Debug
